body{
	margin: 0px;
}
.site_banner {
	border-top: 8px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
	text-align: center;
}
h3{
	font-family: "Basier", serif;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	color: #de2f23;
}
.story_copy{
	max-width:900px;
	margin-left: 5%;
	margin-right: 5%;
	font-family: "Pensum", sans-serif;
	font-size: 20px;
}
.story_header{
	font-family: "Basier", serif;
	font-size: 20px;
}
.byline{
	font-weight: bold;
}
.photo{
	width: 100%;
}
.photo_caption{
	color: grey;
	font-size: 14px;
}
.footer{
	font-family: "Basier", serif;
	margin-bottom: 30px;
	margin-top: 30px;
}
.footer_info{
	color: grey;
	font-size: 14px;
}
a{
	color: black;

}
a:hover{
	color: #de2f23;
}


